<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>All detail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="{% static 'anonymous/css/bootstrap.min01.css' %}">
        <link rel="stylesheet" href="{% static 'anonymous/css/bootstrap-theme.min01.css' %}">
        <link rel="stylesheet" href="{% static 'anonymous/css/templatemo-style01.css' %}">

        <script src="{% static 'anonymous/js/modernizr-2.8.3-respond-1.4.2.min01.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="nav">
          <div class="burger">
            <div class="burger__patty"></div>
          </div>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#1" class="nav__link c-blue"><img src="{% static 'anonymous/images/home-icon.png' %}" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="#3" class="nav__link c-red"><img src="{% static 'anonymous/images/projects-icon.png' %}" alt=""></a>
            </li>
          </ul>
        </nav>

        <section class="panel b-blue" id="1">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="home-content">
                      <div class="home-heading">
                        <h1><em>ALL</em> Detail</h1>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="home-box-content">
                            <div class="left-text">
                              <h4>ALL <em>Detail</em> Template</h4>
                              <p>你越想忘记一个人时 <a href="#" target="_blank">其实你越会记得他</a>人的烦恼就是记性太好，如果可以把所有事都忘掉，以后每一日都是一个新的开始你说多好</p>
                              <div class="primary-button">
                                <a href="#2">Discover More</a>
                              </div>
                            </div>
                            <div class="right-image">
                              <img src="{% static 'anonymous/images/right-home-image01.png' %}" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>

        <section class="panel b-red" id="3">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="projects-content">
                      <div class="heading">
                        <h4>Recent Secret</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="owl-carousel owl-theme projects-container">
                            <div>
                              <div class="project-item">
                                <a href="{% static 'anonymous/images/project-item-01.jpg' %}" data-lightbox="image-1"><img src="{% static 'anonymous/images/project-item-01.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>《那些花儿》——朴树</h4>
                                  <p>今天坐火车去了南阳看她,看她在大学里过得很开心,很舒适。我问她我在你心里到底是什么位置？一分钟后,
                                      她说了两个字:朋友。我陷入了沉默。看着她的侧脸,我想:四年了,我该开始自己的生活了。再见姑娘,再见南阳！</p>
                                  <div class="primary-button">
                                    <a href="#">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'anonymous/images/project-item-02.jpg' %}" data-lightbox="image-1"><img src="{% static 'anonymous/images/project-item-02.jpg' %}" alt=""></a>
                                <div class="text-content">
                                  <h4>《一路向北》—周杰伦</h4>
                                  <p>高一的时候 我是文艺委员 每天上课前负责放点音乐 让大家一起唱 我每天都放周杰伦的歌 台下所有人都不
                                      耐烦 甚至骂我的…都要求我放秋天不回来 求佛 香水有毒之类的…现在想想 我从来没有和那些人一个世界过。</p>
                                  <div class="primary-button">
                                    <a href="#">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'anonymous/images/project-item-03.jpg' %}" data-lightbox="image-1">
                                    <img src="{% static 'anonymous/images/project-item-03.jpg' %}" alt=""/>
                                </a>
                                <div class="text-content">
                                  <h4>《秋酿》房东的猫</h4>
                                  <p>鱼刺卡过喉咙你却还是喜欢吃鱼，被狗咬过被猫抓过你却还是热爱动物，满口蛀牙你却还是嗜甜如命。他弃你
                                      于千里之外，你却还愿为见他走遍千山万水，道理是相同的。你喜欢，就甘愿。</p>
                                  <div class="primary-button">
                                    <a href="#">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'anonymous/images/project-item-04.jpg' %}" data-lightbox="image-1">
                                    <img src="{% static 'anonymous/images/project-item-04.jpg' %}" alt="">
                                </a>
                                <div class="text-content">
                                  <h4>《放过自己》-庄心妍</h4>
                                  <p>曾经有人问我，失去的东西回来了还要吗? 我说，曾经丢了一粒扣子， 等到找回那粒扣子时，我已经换了衣服。</p>
                                  <div class="primary-button">
                                    <a href="#">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'anonymous/images/project-item-05.jpg' %}" data-lightbox="image-1">
                                    <img src="{% static 'anonymous/images/project-item-05.jpg' %}" alt="">
                                </a>
                                <div class="text-content">
                                  <h4>《说散就散》-jc</h4>
                                  <p>养了13年的乌龟从不在我房间过夜 他喜欢潮湿黑暗的角落 但这几天他一直待在我房间 我上床睡觉他便爬过
                                      来紧紧挨着床沿 夜里他来回走动像极了人走路 我起身把它抱出去 清晨醒来见他又爬回来 我开玩笑低头说
                                      你找我有事啊 今天他安静的死去了 我难过是因为 他一直在和我说 再见了 </p>
                                  <div class="primary-button">
                                    <a href="#">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'anonymous/images/project-item-06.jpg' %}" data-lightbox="image-1">
                                    <img src="{% static 'anonymous/images/project-item-06.jpg' %}" alt=""/>
                                </a>
                                <div class="text-content">
                                  <h4>网易云热评</h4>
                                  <p>大学时候，宿舍有一个免费的座机，一个室友每天都会和女朋友打电话到很晚，有一天，我们决定剪断电话
                                      线。那天，他还是打电话到很晚。那天，我们都久久无法入睡。</p>
                                  <div class="primary-button">
                                    <a href="#">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="{% static 'anonymous/images/project-item-07.jpg' %}" data-lightbox="image-1">
                                    <img src="{% static 'anonymous/images/project-item-07.jpg' %}" alt="">
                                </a>
                                <div class="text-content">
                                  <h4>网易云热评</h4>
                                  <p>大张旗鼓的离开其实都是试探，真正的离开是没有告别的。从来扯着嗓门喊着要走的人，都是最后自己摔了一
                                      地的玻璃的碎片，闷头弯腰一片一片捡了起来。而真正想要离开的人。只是挑了一个风和日丽的早晨，裹了
                                      那件最常穿的大衣，出了门，然后就再也没有回来过</p>
                                  <div class="primary-button">
                                    <a href="#">Discover More</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>

        <section class="panel b-blue" id="4">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="projects-content">
                       {{ data }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <!-- 此处修改为自己需要显示的内容便可以完工 -->





        <script src="{% static 'anonymous/js/jquery-1.11.2.min01.js' %}"></script>
        <script>window.jQuery || document.write('<script src={% static 'anonymous/js/jquery-1.11.2.min01.js'%}><\/script>')</script>

        <script src={% static 'anonymous/js/bootstrap.min01.js' %}></script>

        <script src={% static 'anonymous/js/plugins01.js' %}></script>
        <script src={%static 'anonymous/js/main01.js' %}></script>

    </body>
</html>
