<html>
	<head>
        {% load static %}
		<title>Created by SAWYER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'anonymous/css/main.css' %}" />
	</head>

	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Created <span>by SAWYER</span></a></div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="generic">Generic</a></li>
					<li><a href="elements">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="{% static 'anonymous/images/banner' %}">
				<div class="inner">
					<h1>Anonymous</h1>
					<p>我怕我做得不好，让你觉得爱情不过如此！<br />
					I'm afraid I'm not doing well enough </a> to make you feel that love is just like this.</a>.</p>
					<a href="#footer" class="button special scrolly">Get Started</a>
				</div>
			</section>

		<!-- One
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="{% static 'anonymous/images/pic01.jpg' %}" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<h2>Write down your secret here</h2>
									<p>shared、anonymous and Undeletable characters</p>
								</header>
								<hr />
								<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								<p>Vivamus fermentum nibh vel pharetra blandit. Cras a purus urna. Sed et libero ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id hendrerit felis. Nulla viverra tempor dui at congue. Pellentesque quis nulla ornare, congue nisi id, finibus nulla. Aliquam sit amet hendrerit purus. Donec libero massa, posuere fermentum eros sit amet, maximus fringilla augue. Maecenas at rhoncus lorem. Vivamus ultricies consequat est, efficitur convallis libero. Vivamus rutrum semper mauris, vitae consequat eros tempor ac. Pellentesque et ornare sapien</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		<!-- Two
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>Tempus Feugiat</h3>
							</header>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>Aliquam Nulla</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed </p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>Sed Magna</h3>
							</header>
							<p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
        -->
		<!-- Three
			<section id="three" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'anonymous/images/pic02.jpg' %}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Lorem ipsum dolor</h2>
										<p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
									</header>
									<hr />
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'anonymous/images/pic03.jpg' %}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Vestibulum sit amet</h2>
										<p>mattis sapien pretium tellus venenatis</p>
									</header>
									<hr />
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
        -->
		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<h2>Kings Donkey Ears</h2>
						<p> 自皇帝长了驴耳朵的事儿被理发师知道后，理发师总觉得这个秘密在心里放着憋得慌，但为了生命着想，又不能说出去，那怎么
                            办呢？这天，理发师去山上瞎转，在山上看到了一颗很大的树，树干上还有一个大洞，大大的树洞在树干的下方，特别像这棵树
                            在大笑，笑理发师，笑皇帝的驴耳朵，笑世间所有可笑之人。理发师看了很生气，便把所有的秘密都对着树洞喊出来，谁知喊完
                            ，理发师觉得自己舒服多了，而秘密也保住了。便经常去树洞处说说心底的秘密。渐渐的知道树洞的人也就越来越多，也就越来
                            越多的人对着树洞说自己的秘密。</p>
					</header>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">WRITE DOWN YOUR SECRET HERE</h2>
								<hr />
								<form action="elements" method="post">
                                    {% csrf_token %}
									<div class="field half first">
										<label for="name">Nickname</label>
										<input name="name" id="name" type="text" placeholder="Name">
									</div>
									<div class="field half">
										<label for="somebody">To somebody</label>
										<input name="somebody" id="somebody" type="text" placeholder="somebody">
									</div>
									<div class="field">
										<label for="dept">Type</label>
										<div class="select-wrapper">
											<select name="dept" id="dept">
												<option value="1">Secret</option>
												<option value="2">emotion</option>
												<option value="3">mood</option>
												<option value="4">what ever!</option>
											</select>
										</div>
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
									</div>
                                    <div class="field">
										<label for="dept">gender</label>
										<div class="select-wrapper">
											<select name="gender" id="dept">
												<option value="1">I'm Boy</option>
												<option value="2">I'm Girl</option>
											</select>
										</div>
									</div>
									<ul class="actions align-center">
										<li><input value="Send Message" class="button special" type="submit"></li>
									</ul>

								</form>
							</div>
						</div>
					</section>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'anonymous/js/jquery.min.js' %}"></script>
			<script src="{% static 'anonymous/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'anonymous/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'anonymous/js/skel.min.js' %}"></script>
			<script src="{% static 'anonymous/js/util.js' %}"></script>
			<script src="{% static 'anonymous/js/main.js' %}"></script>

	</body>
</html>